* { box-sizing: border-box; background-color: #FCFFE6; padding: 0; margin: 0; }

/* HEADERS */
h1 { font-family: 'Playfair Display', serif; font-size: 36px; padding: 20px 0; margin: 0; color: white; }

h1, h2 { font-weight: bold; text-transform: uppercase; text-shadow: 2px 2px 5px black; color: white; }

/* BUTTONS */
.btn { box-shadow: 5px 5px 5px green; }

.btn-delete, .card-delete { position: relative; width: 20px; height: 20px; line-height: 20px; margin: 0; padding: 10px; border-radius: 50px; }

.card-delete { top: 5px; left: 5px; }

.card-delete span { border-radius: 50px; position: relative; top: -8px; left: -7px; }

.btn-delete { top: -54px; left: 5px; }

.btn-delete span { border-radius: 50px; position: relative; top: -8px; left: -7px; }

.create-column { display: block; margin: 10px auto; width: 200px; }

.column-container { margin: 30px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-flow: wrap; flex-flow: wrap; -ms-flex-pack: distribute; justify-content: space-around; margin-top: 10px; }

.column-container .column { border: 1px solid #717D3C; background-color: white; min-width: 400px; min-height: 400px; margin: 15px 0; -webkit-box-flex: 0; -ms-flex: 0 auto; flex: 0 auto; border-radius: 5px; box-shadow: 5px 5px 10px green; }

.column-container .column .column-title { text-align: center; background-color: #C0EA0E; border-radius: 5px 5px 0 0; min-height: 50px; margin-top: 0; line-height: 50px; }

.column-container .column .column-card-list { list-style-type: none; background-color: white; padding: 0; min-height: 400px; }

.column-container .column .column-card-list .card { background-color: #F2FF92; box-shadow: 5px 5px 10px green; min-height: 100px; width: 85%; border-radius: 5px; margin: 10px auto; }

.column-container .column .column-card-list .card p { background-color: inherit; padding: 10px 10px; }
